<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Capstone1Suite" parallel="false">
    <test name="TestCode">
        <parameter name="browser" value="chrome" />
        <parameter name="validUsername" value="standard_user" />
        <parameter name="validPassword" value="secret_sauce" />
        <parameter name="invalidUsername" value="standard_Invaliduser" />
        <parameter name="invalidPassword" value="secret_Invalidpwd" />
        <classes>
            <class name="JavaAuto.Capstone1.testCodeCopy" />
        </classes>
    </test>
</suite>

